<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.daysofwonder.tools.m2e.protoc.ProtocProjectConfigurator"
            id="m2e-protoc-connector.configurator"
            name="M2E Protocol Buffer Connector">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

</plugin>
